body { 

font-family: 'Itim', cursive;
background-color: hsl(206, 97%, 61%);
background: rgb(33,21,238);
background: linear-gradient(90deg, rgba(33,21,238,0.4780287114845938) 0%, rgba(9,57,121,0.365983893557423) 35%, rgba(0,30,42,1) 100%);
} 
h1,h2,h3,h4,h5,h6,p,li {
text-decoration: underline;
padding: 12px;}
nav{

background-color:#000000; text-align:center;
position: sticky;
top: 0;

}

nav>a:hover{
  background-color: rgb(255, 245, 245) rgb(red, green, blue);


}

nav > a {
text-decoration: none;
color: rgb(254, 254, 254);
display: inline-block;
padding: 8px 12px;
}
 a,h1,h3,p,label{}

input, textarea{
background-color: rgb(253, 253, 253);
border-radius: 8px;
color: none;
padding: 8px 12px;
}
input[type=submit],input[type=reset] {
  background-color:rgb(255, 255, 255)
}

input:focus, textarea:focus{
  background-color: none;
}

  
@media screen and(max-width:480px)  {

#photo.jpg{width: 200px;}

  /* mobile-phone */
}