body { 

font-family: "Nunito",sans-serif;
} 

nav{

background-color:#3da9fc;

}

nav > a {
    color: #094067;

text-decoration: None;
padding: 12px;
display: inline-block;
}

nav > a:hover {

background-color:#fffffe;




}

ul > li {
color: #0d81da;


}


 .center-text
