body { 

font-family: 'Itim', cursive;
background-color: hsl(206, 97%, 61%);
} 
h1,h2,h3,h4,h5,h6,p,li {
text-decoration: underline;
padding: 12px;}
nav{

background-color:#000000; text-align:center

}

nav>a:hover{
  background-color: rgb(255, 245, 245) rgb(red, green, blue);


}

nav > a {
text-decoration: none;
color: rgb(254, 254, 254);
display: inline-block;
padding: 8px 12px;
}
a,h1,h3,p,label{}

input, textarea{
background-color: rgb(253, 253, 253);
border-radius: 8px;
color: none;
padding: 8px 12px;
}
input[type=submit],input[type=reset] {
  background-color:rgb(255, 255, 255)
}

input:focus, textarea:focus{
  background-color: none;
}
